<a href="#">
    <article class="<%- classes %> ">
        <%- include(template('assets/image'), {
                collection: "accomodations",
                thumbnail: accomodation.thumbnail, attributes: { class: ['card-thumbnail'] }
            })
        %>
        <div class="card-info">
            <h5><%- accomodation.title %></h5>
            <span>Nuit à partir de <b><%- accomodation.pricePerNight %></b></span>
            <div class="card-rating">
                <%- include(template('accomodations/star'), { stars: accomodation.star }) %>
            </div>
        </div>
    </article>
</a>
